<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>My Account</title>

   
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    
    <title>SurpRECIPES</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    
    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
    
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Inter:wght@400;500&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    
    <!-- Vendor CSS Files -->
    <!-- <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    
    <!-- Template Main CSS Files -->
    <!-- <link href="assets/css/variables.css" rel="stylesheet"> -->
    <link href="assets/css/main.css" rel="stylesheet">
    
    <!-- =======================================================
    * Template Name: ZenBlog
    * Updated: Mar 10 2023 with Bootstrap v5.2.3
    * Template URL: https://bootstrapmade.com/zenblog-bootstrap-blog-template/
    * Author: BootstrapMade.com
    * License: https:///bootstrapmade.com/license/
    ======================================================== -->

   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
  
   <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
   <link rel="stylesheet" href="user_account.css"> 
</head>
<body>


<!-- ======= Header ======= -->
<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
        <a href="/home" class="logo d-flex align-items-center">
            <!-- Uncomment the line below if you also wish to use an image logo -->
            <!-- <img src="assets/img/logo.png" alt=""> -->
            <h1>SurpRECIPES</h1>
        </a>
    
        <nav id="navbar" class="navbar">
            <ul>
                <li>
                    <% if (unreadComments.length > 0) { %>
                        <a href="/notification" class="notification-icon">
                            <img src="assets/img/new.png" alt="Notification">
                        </a>
                    <% } else { %>
                        <a href="/notification" class="notification-icon">
                            <img src="assets/img/grey.jpg" alt="Notification">
                        </a>
                    <% } %>
                </li>
                <li><a href="user_profile">Profile</a></li>
                <li><a href="/explore">Explore</a></li>
                <li><a href="uploadrecipe">New Recipe</a></li>
                <li><a href="/search_recipe">Search</a></li>
                <li><a href="/logout">Log out</a></li>
            </ul>
        </nav><!-- .navbar -->
    </div>
</header><!-- End Header -->

<style>

.header .logo h1 {
    font-size: 30px;
    font-weight: 700;
    color: var(--color-default);
    font-family: var(--font-primary);
	margin-right: 350px;
    margin-left: 100px;
    margin-top: 25px;
}

.navbar a, .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-family: var(--font-default);
    font-size: 16px;
    font-weight: 500;
    color: rgba(var(--color-default-rgb), 1);
    white-space: nowrap;
    transition: 0.3s;
	}
  
  .align-items-center {
    align-items: center!important;
	}

	.justify-content-between {
    justify-content: space-between!important;
	}

	.d-flex {
    display: flex!important;
	}

	.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
	}

	.justify-content-between {
    justify-content: space-between!important;
	}

    .navbar ul li:last-child {
        margin-right: 0;
    }
	.navbar ul li {
    margin-right: 20px;
	

    }
	@media (max-width: 1279px){
    .navbar ul {
    display: none;
    position: absolute;
    inset: 55px 15px 15px 15px;
    padding: 10px 0;
    margin: 0;
    border-radius: 10px;
    background-color: var(--color-white);
    overflow-y: auto;
    transition: 0.3s;
    z-index: 9998;
	text-align: right;
	align-items:right ;
	
}}
    .navbar .notification-icon img {
        height: 20px;
        width: 20px;
        margin-right: 5px;
    }
	.header {
	align-content:right;
	align-items:right ;
    height: 90px;
    transition: all 0.5s;
    z-index: 997;
    background: #f2f2f2;
    margin-top: 0px;
}
</style>



<div class="container">
<div class="row">
		<div class="col-12">
			<!-- Page title -->
			<div class="my-5">
				<h3>My Account</h3>
				<hr>
			</div>

			<!-- button -->
			<div class="gap-3 d-md-flex justify-content-md-end text-center">
				<button class="link-button" onclick="window.location.href='/recipeSaved'">Saved Recipe</button>
				<button class="link-button" onclick="window.location.href='/recipeLiked'">Liked Recipe</button>

			</div>

			<!-- Form START -->
			<form class="file-upload">
				<div class="row mb-5 gx-5">
					<!-- Contact detail -->
					<div class="col-xxl-8 mb-5 mb-xxl-0">
						<div class="bg-secondary-soft px-4 py-5 rounded">
							<div class="row g-3">
								<h4 class="mb-4 mt-0">Contact detail</h4>
								<!-- First Name -->
								<div class="col-md-6">
									<label for="firstnameinput"  class="form-label">First Name </label>
									<input type="text" class="form-control" id="firstname" name="firstname" placeholder="" aria-label="First name" value="<%= mongo_user.firstName %>" readonly>
								</div>
								<!-- Last name -->
								<!-- Last name -->
                               <div class="col-md-6">
	                                    <label class="form-label">Last Name </label>
	                                    <input type="text" class="form-control" id="lastname" placeholder="" aria-label="Last name" value="<%= mongo_user.lastName %>" readonly>
                                        </div>
  
								<!-- Email -->
								<div class="col-md-6">
									<label for="inputEmail4" class="form-label">Email *</label>
									<input type="email" class="form-control" id="inputEmail4" value=" <%= mongo_user.email %>"readonly>

								</div>
                                <!-- username -->
								<div class="user-name">
									<label for="inputusername" class="form-label">User-Name *</label>
									<input type="username" class="form-control" id="user-name" value=" <%= mongo_user.username %>"readonly>

								</div>
                                 <!-- level -->
								<div class="level">
									<label for="inputlevel" class="form-label">Level *</label>
									<input type="level" class="form-control" id="Level" value=" <%= mongo_user.level %>"readonly>

								</div>
                                 <!-- status -->
								<div class="status">
									<label for="inputustatus" class="form-label">Status </label>
									<input type="status" class="form-control" id="Status" value="<%= mongo_user.status %>"readonly>
								</div>
                                  <!-- Join Date -->
								<div class="Join Date">
									<label for="inputJoinDate" class="form-label">Join Date*</label>
									<input type="text" class="form-control" id="Join Date" value="<%= mongo_user.createdAt ? mongo_user.createdAt.toLocaleDateString('en-GB') : 'N/A' %>" readonly>
									<button type="button" class="edit">Edit Details</button>
                                    <button type="button" class="editsubmit">Submit</button>
									<div id="message"></div>
								</div>

							</div> <!-- Row END -->
						</div>
					</div>
					<!-- Upload profile -->
					<div class="col-xxl-4">
						<div class="bg-secondary-soft px-4 py-5 rounded">
							<div class="row g-3">
								<h4 class="mb-4 mt-0">Upload your profile photo</h4>
								<div class="text-center">
									<!-- Image upload -->
									<div class="square position-relative display-2 mb-3">
										<i class="fas fa-fw fa-user position-absolute top-50 start-50 translate-middle text-secondary"></i>
									</div>
									<!-- Button -->
									<input type="file" class="file-upload" value="choose file" id="image" name="image" placeholder="Image:"  accept="image/*"><br><br>
									<!-- <label class="btn btn-success-soft btn-block" for="customFile">Upload</label>
									<button type="submit" class="btn btn-danger-soft">submit</button> -->
									<input class="submit" type="submit" value="Upload photo">
									<!-- Content -->
									<p class="text-muted mt-3 mb-0"><span class="me-1">Note:</span>Minimum size 300px x 300px</p>
								</div>
							</div>
						</div>
					</div>
				</div> <!-- Row END -->

				

					<!-- Change password -->
					<div class="col-xxl-6">
						<div class="bg-secondary-soft px-4 py-5 rounded">
						<div class="row g-3">
							<h4 class="my-4">Change Password</h4>
							<!-- Old password -->
							<div class="col-md-6">
							<label for="oldPassword" class="form-label">Old Password *</label>
							<input type="password" class="form-control" id="oldPassword">
							</div>
							<!-- New password -->
							<div class="col-md-6">
							<label for="newPassword" class="form-label">New Password *</label>
							<input type="password" class="form-control" id="newPassword">
							</div>
							<!-- Confirm password -->
							<div class="col-md-12">
							<label for="confirmPassword" class="form-label">Confirm Password *</label>
							<input type="password" class="form-control" id="confirmPassword">
							<div><button type="button" class="submitpassword">Submit</button></div>
							<div id="success"></div>
							<div><button type="button" class="delete" id="'delete">Delete profile</button></div> 
							<div><button type="button" class="statisticl-button" id="myButton">Statistical data</button></div>
							<br><br><br>
							<div class="resultContainer" id="resultContainer"></div>
							  
							  <script>
								var button = document.getElementById("myButton");
								var resultContainer = document.getElementById("resultContainer");
							  
								button.addEventListener("click", function() {
								  var numberOfLikes = <%= mongo_user.numberOfLikes %>;
								  var numUploadedRecipes = <%= mongo_user.uploadedRecipes.length %>;
								  var result = numberOfLikes / numUploadedRecipes;
								  console.log(mongo_user.numberOfLikes , mongo_user.uploadedRecipes.length )
							  
								  resultContainer.innerHTML = "<p>Average likes per uploaded recipe : " + result + "</p>";
								});
							  </script>
							  
							</div>

						</div>
						</div>
					</div>
				</div> <!-- Row END -->
			</form> <!-- Form END -->
		</div>
	</div>
	</div>
	<script src="user_account.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

   
</body>
</html>