<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>My Account</title>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
   <link rel="stylesheet" href="user_account.css"> 
   <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
</head>
<body>


<div class="container">
<div class="row">
		<div class="col-12">
			<!-- Page title -->
			<div class="my-5">
				<h3>My Account</h3>
				<hr>
			</div>
			<!-- Form START -->
			<form class="file-upload">
				<div class="row mb-5 gx-5">
					<!-- Contact detail -->
					<div class="col-xxl-8 mb-5 mb-xxl-0">
						<div class="bg-secondary-soft px-4 py-5 rounded">
							<div class="row g-3">
								<h4 class="mb-4 mt-0">Contact detail</h4>
								<!-- First Name -->
								<div class="col-md-6">
									<label for="firstnameinput"  class="form-label">First Name </label>
									<input type="text" class="form-control" id="firstname" name="firstname" placeholder="" aria-label="First name" value="<%= mongo_user.firstName %>" readonly>
								</div>
								<!-- Last name -->
								<!-- Last name -->
                               <div class="col-md-6">
	                                    <label class="form-label">Last Name </label>
	                                    <input type="text" class="form-control" id="lastname" placeholder="" aria-label="Last name" value="<%= mongo_user.lastName %>" readonly>
                                        </div>
  
								<!-- Email -->
								<div class="col-md-6">
									<label for="inputEmail4" class="form-label">Email *</label>
									<input type="email" class="form-control" id="inputEmail4" value=" <%= mongo_user.email %>"readonly>

								</div>
                                <!-- username -->
								<div class="user-name">
									<label for="inputusername" class="form-label">User-Name *</label>
									<input type="username" class="form-control" id="user-name" value=" <%= mongo_user.username %>"readonly>

								</div>
                                 <!-- level -->
								<div class="level">
									<label for="inputlevel" class="form-label">Level *</label>
									<input type="level" class="form-control" id="Level" value=" <%= mongo_user.level %>"readonly>

								</div>
                                 <!-- status -->
								<div class="status">
									<label for="inputustatus" class="form-label">Status </label>
									<input type="status" class="form-control" id="Status" value="<%= mongo_user.status %>"readonly>
								</div>
                                  <!-- Join Date -->
								<div class="Join Date">
									<label for="inputJoinDate" class="form-label">Join Date*</label>
									<input type="Join Date" class="form-control" id="Join Date" value="24.4.23"readonly>
									<button type="button" class="edit">Edit Details</button>
                                    <button type="button" class="editsubmit">Submit</button>
									<div id="message"></div>
								</div>

							</div> <!-- Row END -->
						</div>
					</div>
					<!-- Upload profile -->
					<div class="col-xxl-4">
						<div class="bg-secondary-soft px-4 py-5 rounded">
							<div class="row g-3">
								<h4 class="mb-4 mt-0">Upload your profile photo</h4>
								<div class="text-center">
									<!-- Image upload -->
									<div class="square position-relative display-2 mb-3">
										<i class="fas fa-fw fa-user position-absolute top-50 start-50 translate-middle text-secondary"></i>
									</div>
									<!-- Button -->
									<input type="file" id="customFile" name="file" hidden="">
									<label class="btn btn-success-soft btn-block" for="customFile">Upload</label>
									<button type="button" class="btn btn-danger-soft">Remove</button>
									<!-- Content -->
									<p class="text-muted mt-3 mb-0"><span class="me-1">Note:</span>Minimum size 300px x 300px</p>
								</div>
							</div>
						</div>
					</div>
				</div> <!-- Row END -->

				

					<!-- Change password -->
					<div class="col-xxl-6">
						<div class="bg-secondary-soft px-4 py-5 rounded">
						<div class="row g-3">
							<h4 class="my-4">Change Password</h4>
							<!-- Old password -->
							<div class="col-md-6">
							<label for="oldPassword" class="form-label">Old Password *</label>
							<input type="password" class="form-control" id="oldPassword">
							</div>
							<!-- New password -->
							<div class="col-md-6">
							<label for="newPassword" class="form-label">New Password *</label>
							<input type="password" class="form-control" id="newPassword">
							</div>
							<!-- Confirm password -->
							<div class="col-md-12">
							<label for="confirmPassword" class="form-label">Confirm Password *</label>
							<input type="password" class="form-control" id="confirmPassword">
							<div><button type="button" class="submit">Submit</button></div>
							<div id="success"></div>
							<div><button type="button" class="delete" id="'delete">Delete profile</button></div> 
							<div><button type="button" class="statisticl-button" id="myButton">Statistical data</button></div>
							<br><br><br>
							<div class="resultContainer" id="resultContainer"></div>
							  
							  <script>
								var button = document.getElementById("myButton");
								var resultContainer = document.getElementById("resultContainer");
							  
								button.addEventListener("click", function() {
								  var numberOfLikes = <%= mongo_user.numberOfLikes %>;
								  var numUploadedRecipes = <%= mongo_user.uploadedRecipes.length %>;
								  var result = numberOfLikes / numUploadedRecipes;
							  
								  resultContainer.innerHTML = "<p>Average likes per uploaded recipe : " + result + "</p>";
								});
							  </script>
							  
							</div>

						</div>
						</div>
					</div>
				</div> <!-- Row END -->
				<!-- button -->
				<div class="gap-3 d-md-flex justify-content-md-end text-center">
					<a href="/recipeSaved">Saved Recipe</a>
					<a href="/recipeLiked">Liked Recipe</a>
				</div>
			</form> <!-- Form END -->
		</div>
	</div>
	</div>
	<script src="user_account.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

   
</body>
</html>