<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>User Profile | <%= user.username %></title>
  <link rel="stylesheet" type="text/css" href="user_profile.css">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>

</head>
<body>
<div class="container">
	<div class="profile-header">
	  <div class="profile-img">
		<img src="./bg.jpg" width="200" >
	  </div>
	  <div class="profile-nav-info">
		<h3 class="user-name"><%= user.username %></h3>
		</div>
	  </div>
	  </div>
	</div>
  
	<div class="main-bd">
	  <div class="left-side">
		<div class="profile-side">
		  <div class="my-level">
			<h3>My Level :<br> </br> </h3>
				<p class="level"><%= user.userlevel %><br></br></p>
		  </div>
		  <div class="profile-btn">
			<button class="my-acount-btn" id="my-acount-btn"><i class="my-acount"></i> My Acount</button>
			<button class="follow-btn" id="follow-btn"><i class="follow"></i>Follow</button>
		  </div>
		  <div class="follow-nav">
		  </div>
		</div>
	  </div>
	  <div class="right-side">
		<div class="nav">
			<ul>
			  <li onclick="tabs(0)" class="Followings-num">
				<span class="numof-followings"><br><%= user.numof_followings %></br></span>
				<span class="button-text">Followings</span>
			  </li>
			  <li onclick="tabs(1)" class="Followers-num">
				<span class="numof-followers"><br><%= user.numof_followers %></br></span>
				<span class="button-text">Followers</span>
			  </li>
			</ul>
		  </div>
		  
	  </div>
	</div>
  </div>
</body>
</html>